body {
  font-family: sans-serif;
}

.wrapper {
  position: relative;
}

h1 {
  font-weight: 500;
  font-size: 48;
  position: absolute;
  top: -100px;
  left: 280px;
}

#timer {
  display: flex;
  margin-top: 100px;
}

.time, .colon {
  font-size: 132px;
  font-weight: bold;
}

.unit {
  margin: auto;
  width: 100px;
  font-size: 24px
}

.colon {
  margin: 0px 30px;
}

.seconds {
  color: red;
}
